.main_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}
.signupform {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70vh;
}
.signupform h1 {
  margin: 0;
}

label,
input {
  display: block;
}
input {
  background-color: #ffefd5;
  border: 1px solid lightgray;
  height: 20px;
  width: 300px;
  margin-top: 5px;
  border-radius: 5%;
}
input:focus {
  outline: none;
}

/* label {
  margin-bottom: 20px;
} */
/* input[type="file"] {
  opacity: 0;
} */
.imgfile {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 30%;
  margin-bottom: -5%;
}

button[type="submit"] {
  background-color: #0275d8;
  color: #fff;
  border: none;
  margin-right: 10px;
  padding: 6px 10px;
  border-radius: 10%;
  cursor: pointer;
}
button[type="reset"] {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 10%;
  cursor: pointer;
}

.signupimg {
  width: 40%;
  height: 70vh;
}
.signupimg img {
  width: 100%;
  height: 100%;
}

/* Home page */
.homepage {
  display: flex;

  justify-content: space-between;
  margin: 20px;
}
